#title {
    font-size: 2.6em;
    font-weight: bolder;
    margin: 0.4em 0 1.8em 0;
    line-height: 1.33
}

/* The style for .title:after below is based on the Stackedit css file */
#title:after{
    content:"";
    display:block;
    position:relative;
    top:.33em;
    border-bottom: 1px solid hsla(0,0%,0%,.33)
}

#title_in_toc {
    margin: .5rem 0;
    padding: .5rem 1rem;
    text-align: center
}

#version_in_toc {
    font-size: 0.8em;
    text-align: center;
}

#version {
    font-size: 0em;
    visibility: hidden;
}

.mergely_iframe {
    width: 100%;
    height: 525px;
    border: none;
}